section {
    background-color: rgb(75, 75, 75);
}

.jumbotron {
    min-height: 22rem;
    background-image: url('/resources/img/jumbotron.jpg');
    background-size: cover;
    position: relative;


    a {
        position: absolute;
        bottom: -1.2rem;
    }

}

.card-img-top {
    max-height: 200px;
    aspect-ratio: 1;
    object-fit: cover;
}

.banner {
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


._ms-col {
    height: 4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;

    ._ms-card-img {
        height: 50px;
        
        object-fit: cover;
    }

    

}





