section {
    background-color: rgb(75, 75, 75);
}

.jumbotron {
    min-height: 22rem;
    background-image: url('/resources/img/jumbotron.jpg');
    background-size: cover;
    position: relative;


    a {
        position: absolute;
        bottom: -1.2rem;
    }

}

.banner {
    height: 8rem;
}


._ms-col {
    height: 4rem;

    ._ms-card-img {
        height: 50px;
        
        object-fit: cover;
    }

    

}





