.jumbotron {
    min-height: 22rem;
    background-image: url('/resources/img/jumbotron.jpg');
    background-size: cover;
    position: relative;


    a {
        position: absolute;
        bottom: -1.2rem;
    }

}





